<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Projetos</li>
    </ol>
</nav>
<div class="container">
    <div class="card list-car">
        <h5 class="card-header">Lista de carros</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Projeto</th>
                        <th scope="col">inicio</th>
                        <th scope="col">termino</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Risco</th>
                        <th scope="col">Participantes</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proj of projetos">
                        <td>{{proj.id}}</td>
                        <td>{{proj.nome}}</td>
                        <td>{{proj.dataInicio}}</td>
                        <td>{{proj.dataTermino}}</td>
                        <td>{{proj.valor | currency:'BRL':true}}</td>
                        <td>{{proj.risco}}</td>
                        <td>{{proj.participantes}}</td>
                        <td>
                            <div class="btn">
                                <button type="button" class="btn btn-warning btn-sm" (click)="editarProjeto(proj)" (click)="goToPage('atualizar')">Editar</button>
                                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="openDialog(proj)">Deletar</button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                                  Simular
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button >
                    <div  class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <tr *ngFor="let proj of projetos">
                        <button class="dropdown-item" type="button">{{proj.nome}}</button>
                    </tr>

                </div>
            </div>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Simular</button>
        </div>
    </div>
</div>
</div>