.color1 {
    background-color: #140f07;
}

.color2 {
    background-color: #0e2452;
}

.color3 {
    background-color: #2b4baa;
}

.color4 {
    background-color: #6379fe;
}

.color5 {
    background-color: #b4acfa;
}

.textColor {
    color: white;
}