<nav class="navbar navbar-expand-lg  color1 textColor">
    <a class="navbar-brand" href="#">GLi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link textColor" href="/home">Home</a>
            </li>
            <li class="nav-item" *ngIf="mostrarMenu">
                <a class="nav-link textColor" href="/projetos">Gerenciamento</a>
            </li>
            <li class="nav-item" *ngIf="mostrarMenu">
                <a class="nav-link textColor" href="/cadastrar">Cadastrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textColor" href="#">Sobre</a>
            </li>
            <li class="nav-item " *ngIf="!mostrarMenu">
                <a class="nav-link " href="/login">Login</a>
            </li>
            <li class="nav-item " *ngIf="mostrarMenu">
                <a class="nav-link " href="#" (click)="sair()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>