<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Projetos</li>
    </ol>
</nav>
<div class="container">
    <div class="card list-car">
        <h5 class="card-header">Lista de carros</h5>
        <div class="card-body">
            <button type="button" class="btn btn-normal btn-sm ml-1" (click)="previuspage()">Anterior</button>
            <button type="button" class="btn btn-normal btn-sm ml-1" (click)="nextpage()">Próximo</button>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Projeto</th>
                        <th scope="col">inicio</th>
                        <th scope="col">termino</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Risco</th>
                        <th scope="col">Participantes</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proj of getProjetModel['data']">
                        <td>{{proj.id}}</td>
                        <td>{{proj.nome}}</td>
                        <td>{{proj.dataInicio}}</td>
                        <td>{{proj.dataTermino}}</td>
                        <td>{{proj.valor | currency:'BRL':true}}</td>
                        <td>{{proj.risco}}</td>
                        <td>{{proj.participantes}}</td>
                        <td>
                            <div class="btn">
                                <mat-icon (click)="editarProjeto(proj)" (click)="goToPage('atualizar')">refresh</mat-icon>
                                <mat-icon (click)="onDelete(proj)">delete</mat-icon>
                                <mat-icon (click)="onSimular(proj)">trending_up</mat-icon>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 *ngIf="getProjetModel == null" align="center"> Nenhum dado encontrado!! </h3>
        </div>

    </div>

</div>


<!--modal de confimar para Deletar-->
<ng-template #deleteModal>
    <div class=" modal-body text-center ">
        <p>Realmente deseja deletar?</p>
        <button type="button " class="btn btn-default " (click)="onConfirmDelete(proj)">Sim</button>
        <button type="button " class="btn btn-primary " (click)="onDeclineDelete()">Não</button>

    </div>
</ng-template>


<!--modal de simulacaor-->
<ng-template #simulacaoModal>
    <div class="modal-header">
        <h3 class="modal-title pull-left">Simuler seu invertimento</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseSimular()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <h4>Valor do Projeto:{{valorSimulado| currency:'BRL':true }}</h4>
        <!-- <span class="btn"><input type="number">  <button type="button " class="btn btn-primary btn-sm " (click)="onDeclineDelete()">Simular</button></span> -->
    </div>
</ng-template>